@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Ubuntu:wght@500&display=swap');

// Colors:
$background-color: #aa0022;
$background-color-light: #ff0033;
$text-color: #ffe6e6;

// Fonts:
$inter: 'Inter', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;