@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Ubuntu:wght@500&display=swap');

// Colors:
$background-color: #aa0022;
$background-color-semi-light: #ff3366;
$background-color-light: #ff0033;
$text-color: #ffe6e6;
$text-color-light: #ffffff;

// Fonts:
$inter: 'Inter', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

body {
    background-color: $background-color;
}