@use 'style';

h1, h2 {
    color: style.$text-color;
    font-family: style.$inter;
}

p {
    color: style.$text-color;
    font-family: style.$ubuntu;
}

#username {
    color: style.$text-color-light;
    font-family: style.$ubuntu;
}

h2 {
    margin-top: 5%;
}

body > * {
    margin-left: 30%;
}

ul {
    li {
        font-size: 1.3em;
        margin-bottom: 10px;

        &:nth-child(1)::marker {
            content: "🏠";
        }

        &:nth-child(2)::marker {
            content: "📝";
        }

        &:nth-child(3)::marker {
            content: "📚";
        }

        a {
            text-decoration: none;
            color: style.$text-color;
            font-family: style.$inter;
        }
    }
}